{% load static %}
<html>
<head>
  <title>File Processing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
  <!-- <script src="{% static 'Javascript/main.js' %}"></script> -->

  <nav class="nav">
    <a class="navbar navbar-light bg-light" href="">Upload CSV</a>
  </nav>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
